.admin-container {
  display: table;
  margin-top: 80px;
  width: 100%;
  /* footer조절 */
  height: calc(100vh - 5rem);
}

.admin-main {
  width: 100%;
  height: 100%;
  display: flex;
  background: black;
  color: white;
  overflow: auto;
}

.admin-section1 {
  /* border : 1px solid red; */
  flex: 1;
}

.admin-section2 {
  display: flex;
  flex-direction: column;
  /* border : 1px solid red; */
  flex: 3;
}

.admin-section3 {
  /* border : 1px solid red; */
  flex: 1;
}

.admin-section2-top {
  /* border : 1px solid aquamarine; */
  flex: 1;
  display: flex;
  justify-content: left;
  align-items: center;
}

.admin-section2-middle {
  display: flex;
  flex-direction: column;
  /* border : 1px solid aquamarine; */
  flex: 7;
}

.admin-section2-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border : 1px solid aquamarine; */
  flex: 1;
}

.admin-auto-info {
  display: flex;
  /* border : 1px solid orange; */
  flex: 1;
}

.admin-manual-info {
  display: flex;
  flex-direction: column;
  /* border : 1px solid orange; */
  flex: 1;
}

.admin-auto-info-image {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* border : 1px solid fuchsia; */
  flex: 1;
}

.admin-auto-info-input {
  display: flex;
  flex-direction: column;
  /* border : 1px solid fuchsia; */
  justify-content: space-around;
  flex: 3;
}

.admin-manual-info-url {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* border : 1px solid springgreen; */
  flex: 2;
  margin-top: 5px;
  margin-bottom: 10px;
}

.admin-manual-info-url-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


.admin-manual-title {
	margin-right: 10px;
}

.admin-manual-videoId {
	margin-left: 30px;
	margin-right: 10px;
}

/* .admin-musical-url-input {
	height: 25px;
	width: 300px;
	color: white;
} */

.admin-musical-title-input {
	height: 25px;
	width: 300px;
	color: white;
}

.admin-musical-videoId-input {
	height: 25px;
	width: 300px;
	color: white;
}

.admin-manual-info-category {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* border : 1px solid springgreen; */
  flex: 1;
}

.admin-manual-category-div {
  display: flex;
  align-items: center;
  /* border: 1px solid rebeccapurple; */
}

.admin-manual-category-div-category {
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
  flex: 3;
  padding-right: 5px;
  margin-right: 10px;
}

.admin-manual-category-div-hashtag {
  display: flex;
  align-items: center;
  /* border: 1px solid greenyellow; */
  flex: 5;
}

.admin-musical-category {
	flex: 2;
	width: 140px;
	height: 30px;

	background: #484848;
  	padding: 0 15px;
  	border: 0;
  	border-radius: 50px;
  	caret-color: rgb(255, 255, 255);
	display: flex;
	justify-content: center;
	align-items: center;
}

.admin-musical-category-select {
	color: white;
	width: 100%;
	height: 100%;
	border: 0;
	background: transparent;
}

.admin-musical-category-info {
	flex: 1;
	/* margin-right: 5px; */
}

.admin-musical-hashtag-info {
  margin-right: 10px;
}

.admin-musical-hashtag {
  width: 250px;
  height: 30px;
  color: white;
}

.admin-musical-search-btn {
  width: 104px;
  height: 39px;
  font-size: 14px;
}

.admin-musical-post {
  width: 190px;
  height: 265px;
  /* width: 95%;
	height: 95%; */
}

.admin-auto-musical-title-div {
  display: flex;
  align-items: center;
}

.admim-auto-musical-title {
  /* margin-right: 10px; */
  flex : 1;
}

.admin-auto-info-musical-state-div {
  display: flex;
  align-items: center;
}

.admin-auto-info-musical-state {
  margin-right: 10px;
}

.admin-auto-info-musical-state-input-ing {
  height: 20px;
  width: 60px;
  border-radius: 10px;
  background-color: #1bb55c;
  text-align: center;
  line-height: 20px;
  font-size: 13px;
  font-weight: bolder;
}

.admin-auto-info-musical-state-input-end {
  height: 20px;
  width: 60px;
  border-radius: 10px;
  background-color: gray;
  text-align: center;
  line-height: 20px;
  font-size: 13px;
  font-weight: bolder;
}

.admin-auto-info-musical-state-input-future {
  height: 20px;
  width: 60px;
  border-radius: 10px;
  background-color: rgb(64, 181, 194);
  text-align: center;
  line-height: 20px;
  font-size: 13px;
  font-weight: bolder;
}

.admin-auto-info-actor-div {
  display: flex;
  align-items: center;
}

.admin-auto-info-actor {
  margin-right: 10px;
}

.admin-auto-info-actor-input {
  width: 300px;
  height: 30px;
  color: white;
}

.admin-auto-info-story-div {
  display: flex;
  flex-direction: column;
}

.admin-auto-info-story-input {
  margin-right: 5px;
  margin-top: 5px;
  resize: none;
  background: #484848;
  border-radius: 10px;
  padding-left: 10px;
  padding-top: 5px;
  color: white;
}

.admin-auto-info-story-input:focus {
  outline: none;
}

.admin-musical-post-btn {

	width: 124px;
	height: 45px;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
  }

option:focus {
	outline: none;
}

select:focus {
	outline: none;
}

.admin-auto-musical-title-input {
  flex: 9;
  padding-right: 15px;
  display: flex;
  align-items: center;
}
