#footer {
  background: #171717;
  color: rgb(255, 255, 255);
  width: 100%;
  height: 130px;
}

.footerWrap {
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  padding: 20px 30px;
}
.footerWrap p {
  font-size: 0.875rem;
}

#footerBI {
  font-size: 1.25rem;
  line-height: 1.5;
}
#footerInfoWrap > p {
  display: inline-block;
  margin: 10px 10px 0 0;
}
#footerInfoWrap > span {
  font-size: 0.75rem;
  cursor: pointer;
  margin: 10px 5px 0 0;
}
.github {
  width: 0.75rem;
  margin: 0 3px 0 0;
}
.footerSrcWrap {
  font-size: 0.75rem;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

/* 반응형css */
@media screen and (max-width: 1024px) {
  .footerSrcWrap {
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  #footer {
    background: #171717;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 120px;
    margin: 0;
    padding: 0;
  }
  #footerBI {
    font-size: 1.125rem;
  }

  .footerWrap {
    max-width: 700px;
    margin: 0 auto;
    padding: 10px 20px;
  }
  .footerWrap p {
    font-size: 0.75rem;
  }
  .footerSrcWrap {
    font-size: 0.75rem;
    margin: 5px 0;
  }
  .footerSrcWrap > p {
    font-size: 0.625rem;
    margin: 5px 0 0;
  }
}
