.allPageWrap {
	display: flex;
	margin-top: 80px;
	width: 100%;
	/* footer조절 */
	/* height: calc(100vh - 5rem); */
	height: 100%;
	background-color: black;
	overflow: auto;
}

.main-section1 {
	flex: 1;
	/* border: 1px solid red; */
	padding-left: 20px;
	padding-top: 20px;
}

.main-section2 {
	flex: 4;
	/* border: 1px solid red; */
	/* display: flex;
	flex-direction: column;
	align-items: center; */
	margin: 0 50px;
}

.main-section2-loading {
	flex: 4;
	/* border: 1px solid red; */
	/* display: flex;
	flex-direction: column;
	align-items: center; */
	margin: 0 50px;
	padding-top: 200px;
}

.main-section3 {
	flex: 1;
	/* border:  1px solid red; */
}

/* sidebar */
.main-sidebar-genre-info {
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 10px;
	text-align: right;
}

.main-sidebar-genreList {
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-bottom: 20px;
}

.main-sidebar-genre {
	margin: 5px 0;
	cursor: pointer;
}

.main-sidebar-withPeople-info {
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 10px;
	text-align: right;
}

.main-sidebar-withPeopleList {
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-bottom: 20px;
}

.main-sidebar-withPeople {
	margin: 5px 0;
	cursor: pointer;
}

.main-sidebar-hashtag-info {
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 10px;
	text-align: right;
}

.main-sidebar-hashtagList {
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.main-sidebar-hashtag {
	margin: 5px 0;
	cursor: pointer;
}

/* musical list */
.main-musicalList-info {
	padding-left: 20px;
	padding-top: 20px;
	margin-bottom: 20px;
	font-size: 20px;
}

.main-musicalList {
	margin-top: 35px;
	list-style: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	/* width: 80%; */
}

.main-musical-image {
	height: 290px;
	/* flex: 0 1 20%; */
	margin: 10px;
	border-radius: 10px;
	cursor: pointer;
}

.back-allMusical-div {
	margin: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.back-allMusical-btn {
	height: 40px;
	width: 150px;
}

.main-noSearch {
	width: 202px;
	height: 297px;
	border-radius: 10px;
	margin: 5px;
	/* 정렬 */
	display: flex;
	justify-content: center;
	align-items: center;
	/* border gradient */
	border: double 2px transparent;
	background-image: linear-gradient(black, black),
	linear-gradient(90deg, #e30052 -53.81%, #6200ee 152.86%);
	background-origin: border-box;
	background-clip: content-box, border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main-top-btn {
	width: 50px;
	height: 50px;
	position: fixed;
	right: 5%;
	bottom : 50px;
}

.main-top-btn:hover {
	background-image: linear-gradient(90deg, #e30052 -53.81%, #6200ee 152.86%);
}

.main-top-icon {
	font-size: 27px;
}