.m-searchbar-container {
  width: 100%;
  height: 100vh;
  background-color: #171717;
  z-index: 100;
  position: fixed;
  top: 0;
  overflow:scroll;
}

.m-searchbar-container::-webkit-scrollbar {
  display:none;
}

.m-searchbar-IoChevronBackSharp {
  width: 24px;
  height: 24px;
  margin: 14px 0 0 14px;
}

.m-searchbar-div {
  margin: 20px auto 20px auto;
  width: 90%;
  background-color: #484848;
  border-radius: 20px;
  height: 39px;
  display: flex;
}

.m-searchbar-icon-div {
  /* display: inline; */
  margin: auto 0 auto 17px;
}

.m-searchbar-input-div {
  margin: auto 0 auto 10px;
}

.m-searchbar-input {
  font-size: 14px;
  width: 90%;
  color: white;
  padding-left: 5px;
}

.m-searchbar-input::placeholder {
  color: white;
  font-size: 16px;
}

.m-searchbar-result-ol{
  border-top: 1px solid rgb(91, 91, 91);
  margin-top: 20px;
}

.m-searchbar-result-li {
  flex: 1 1 100%;
  display: flex;
  align-items: center;
  padding: 15px 0 15px 15px;
  border-bottom: 1px solid rgb(91, 91, 91);
}

.m-searchbar-result-poster {
  width: 52px;
  height: 74px;
}

.m-searchbar-result-title {
  margin-left: 15px;
}