.choiceModalWrap {
  position: fixed;
  z-index: 30;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.choiceModal {
  text-align: right;
  width: 320px;
  height: 200px;
  background: #232323;
  margin: auto;
  padding: 1.5rem;
  border-radius: 4px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.125);
}
.modalTextWrap {
  text-align: center;
  margin: 20px 0 0 0;
}
.modalTextWrap > p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.linkTag {
  text-decoration: none;
  line-height: 4rem;
  color: #32e6ff;
  margin: 0 8px;
  cursor: pointer;
}
