.searchbar-container{
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  background-color: #484848;
  border-radius: 20px;
}

.searchbar-div {
  height: 39px;
  display: flex;
}

.searchbar-icon-div {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.searchbar-input-div {
  flex: 6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchbar-input {
  font-size: 16px;
  width: 90%;
  color: white;
  padding-left: 5px;
}

.searchbar-input:focus {
  outline: none;
}

.searchbar-input::placeholder {
  font-size: 16px;
}

.searchbar-icon {
  /* cursor: pointer; */
  color: white;
}

.searchbar-result-ol {
  width: 100%;
  /* border: 1px solid #fff; */
  border-top: 1px solid rgb(91, 91, 91);
  border-bottom: 1px solid rgb(91, 91, 91);
  margin-bottom: 20px;
}

.searchbar-result-ol-scroll{
  height: 230px;
  overflow-y: scroll;
  scrollbar-color:auto;
  /* scrollbar-width: none; */
}
.searchbar-result-ol-scroll::-webkit-scrollbar {
  /* display:none; */
  width: 5px;
  background-color: rgb(50, 50, 50);
  /* color: #000; */
}
.searchbar-result-ol-scroll::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

.searchbar-result-li{
  height: 75px;
  flex: 1 1 100%;
  display: flex;
  align-items: center;
  padding: 10px 0 10px 15px;
  border-bottom: 1px solid rgb(91, 91, 91);
}

.searchbar-result-li:hover{
  background-color: #676767;
  cursor: pointer;
  /* border: 1px solid #fff; */
}

.searchbar-result-li-highlighted {
  background-color: #676767;
}

.searchbar-result-poster{
  width: 40px;
}

.searchbar-result-title{
  margin-left: 10px;
}