/* 페이지 화면 크기 지정(여기서 페이지 크기 조절 가능, footer 조절) */
.search-container {
  display: table;
  margin-top: 80px;
  width: 100%;
  /* footer조절 */
  height: calc(100vh - 10rem);
}

.search-main {
  width: 100%;
  height: 100%;
  display: flex;
  background: black;
  color: white;
  overflow: auto;
}

.search-section1 {
  /* border : 1px solid red; */
  flex: 1;
}

.search-section2 {
  display: flex;
  flex-direction: column;
  /* border : 1px solid red; */
  flex: 3;
}

.search-section3 {
  /* border : 1px solid red; */
  flex: 1;
}

.search-section2-top {
  display: flex;
  /* border : 1px solid aquamarine; */
  flex: 1;
}

.search-section2-middle {
  display: flex;
  flex-direction: column;
  /* border : 1px solid aquamarine; */
  flex: 2;
}

.search-section2-bottom {
  /* border : 1px solid aquamarine; */
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-left {

	height: 100%;
	flex: 1; 
	/* border : 1px solid greenyellow; */
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}

.search-right {
  height: 100%;
  flex: 3;
  /* border : 1px solid greenyellow; */
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
}
.search-right-info {
  padding-bottom: 10px;
  height: 100%;
  flex: 3;
  /* border : 1px solid greenyellow; */
  display: flex;
  justify-content: left;
  align-items: flex-end;
}
.search-right-category {
	height: 100%;
	flex: 3; 
	/* border : 1px solid greenyellow; */
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.search-category1 {
  margin-top: 10px;
  display: flex;
  flex: 1;
  /* border: 2px solid palegoldenrod;
  border-radius: 2rem; */
}

.search-category2 {
  margin-top: 10px;
  display: flex;
  flex: 1;
  /* border: 2px solid palegoldenrod;
  border-radius: 2rem; */
}

.search-hashtags {
  margin-top: 10px;
  display: flex;
  flex: 3;
  /* border: 2px solid palegoldenrod;
  border-radius: 2rem; */
}

.hashtags-list {
  height: 152px;
  width: 100%;
  list-style: none;
  overflow: auto;
}

/* 스크롤바 css 1.해시태그 목록 스크롤 2.추천결과 목록 스크롤*/
.hashtags-list::-webkit-scrollbar, .search-result-list::-webkit-scrollbar{
  width: 6px;
}
.hashtags-list::-webkit-scrollbar-track, .search-result-list::-webkit-scrollbar-track {
  background-color: transparent;
}
.hashtags-list::-webkit-scrollbar-thumb, .search-result-list::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: white;
}
.hashtags-list::-webkit-scrollbar-button, .search-result-list::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
/* 스크롤바 css end */

.hashtag {
  height: 20px;
  width: 23%;
  float: left;
  margin-left: 6px;
  margin-top: 15px;
}

.category {
	/* width: 18%; */
	margin-top: 5px;
	margin-bottom: 5px;
	/* text-align: center; */
  cursor: pointer;
}

/* 카테고리 클릭시 변경된 카테고리로 보이는 클래스명 */
.selected-category {
  cursor: pointer;
	height: 30px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: white;
	border-radius: 100rem;
	color: black;
	display: flex;
	align-items: center;

  /* margin-top: 5px;
	margin-bottom: 5px; */
}

/* 제거된 취소 버튼 css */
/* .show-category-closebtn {
  flex: 1;
}

.category-select-cancel-btn {
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid black;
  background-color: white;
  width: 12px;
  height: 12px;
  text-align: center;
  font-size: 10px;
  font-weight: bolder;
}

.none-category-closebtn {
  display: none;
} */

.category-text {
	/* flex: 6; */
	/* margin-right: 5px; */
  width: 100%;
}

.recommend-result-btn {
  width: 167px;
  height: 47px;
  border: 2px solid transparent;
  border-radius: 20px;
  background-image: linear-gradient(black, black),
    linear-gradient(to right, #e30052, #6200ee);
  background-origin: border-box;
  background-clip: content-box, border-box;
  margin: 10px;

  text-align: center;
  line-height: 42px;

  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  color: white;
}

/* 추천 결과 info 정렬 div */
.search-result-info-div {
  width: 100%;
  height: 100%;
  /* border : 1px solid greenyellow; */
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/* 추천 결과 info */
.search-result-info {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.015em;
  text-align: center;
  margin: 40px;
}

.no-search-result {
  width: 100%;
  height: 100%;
  cursor: default;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 추천 결과 ul */
.search-result-list {
  display: flex;
  justify-content: left;
  /* flex-wrap : wrap -> 새로운 요소 추가시 아래로 추가 */
  flex-wrap: wrap;
  list-style: none;
  padding: 5px;

  height: 330px;
  overflow: auto;
}

/* 추천 결과 li */
.search-result-musical {
  width: 202px;
  height: 297px;
  /* flex: 0 1 24%; */
  /* border:1px solid; */
  margin-left: 35px;
  margin-right: 35px;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 10px;
  /* 정렬 */
  display: flex;
  justify-content: center;
  align-items: center;
  /* border gradient */
  border: double 2px transparent;
  background-image: linear-gradient(black, black),
    linear-gradient(90deg, #e30052 -53.81%, #6200ee 152.86%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* 추천 결과 img */
.search-result-musical-image {
  width: 95%;
  height: 95%;
  border-radius: 10px;
  /* border: 1px solid red; */
}

/* 다시 추천 버튼 */
.search-replay-btn {
  width: 167px;
  height: 47px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.015em;
  text-align: center;
}

/* 해시태그 클릭시 변경된 해시태그로 보이는 클래스명 */
.selected-hashtag {
	height: 20px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: white;
	border-radius: 100rem;
	color: black;
	display: flex;
	align-items: center;
  cursor: pointer;
}

.search-left-hashtag {
  height: 100%;
	flex: 1; 
	/* border : 1px solid greenyellow; */
	display: flex;
  flex-direction: column;
	justify-content: space-around;
  align-items: center;
}

/* 해새태그 목록이 없는 경우 */
.noHashtagList {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 추천 결과 이미지 클릭시 상세페이지 이동시켜주는 Link */
.goto-detailLink {
  width: 100%;
  height: 100%;
  /* 정렬 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-loading-div {
  margin-top: 200px;
}