/* common CSS */
.signinText {
  font-size: 1.75rem;
  font-weight: 700;
  margin: 0 0 28px 15px;
}
.inpt {
  width: 100%;
  height: 55px;
  margin-bottom: 10px;
}
::placeholder {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -0.015em;
  color: #9e9e9e;
}

/* Sign in CSS */
#signin {
  width: 100%;
  height: 100%;
  margin-top: 80px;
  position: relative;
}
.signinContainer {
  font-size: 1rem;
  color: rgb(255, 255, 255);
  background: #232323;
  border-radius: 10px;
  width: 520px;
  height: 650px;
  margin: 0 auto;
  padding: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 15%);
}
.errMsg {
  font-size: 0.75rem;
  display: block;
  margin: 5px 0 15px 20px;
}
.btnSignin {
  font-size: 1rem;
  width: 100%;
  height: 48px;
  margin: 40px auto 10px;
}
.btnKakaoSignin {
  width: 100%;
  height: 42px;
  margin: 0 auto;
  background: #fee500 url(../images/kakao_signin.png) no-repeat center;
  border-radius: 40px;
}
.signupCheckWrap {
  display: flex;
  justify-content: center;
  margin: 100px auto 0;
}
.signupCheckWrap > span {
  color: #32e6ff;
  cursor: pointer;
  margin-left: 10px;
}

/* Sign up CSS */
#signup {
  width: 100%;
  height: 100%;
  margin-top: 80px;
  position: relative;
}
.signupContainer {
  font-size: 1rem;
  color: rgb(255, 255, 255);
  background: #232323;
  border-radius: 10px;
  width: 520px;
  height: 720px;
  margin: 0 auto;
  padding: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 15%);
}
.btnSignup {
  font-size: 1rem;
  width: 100%;
  height: 48px;
  margin: 28px auto 10px;
}
.btnKakaoSignup {
  width: 100%;
  height: 42px;
  margin: 0 auto;
  background: #fee500 url(../images/kakao_signup.png) no-repeat center;
  border-radius: 40px;
}
.signinCheckWrap {
  display: flex;
  justify-content: center;
  margin: 58px auto 0;
}
.signinCheckWrap > span {
  color: #32e6ff;
  cursor: pointer;
  margin-left: 10px;
}

.test {
  display: block;
  width: 500px;
  height: 500px;
  border: 2px solid red;
  margin: 0 auto;
}

/* 반응형css */
@media screen and (max-width: 768px) {
  /* signin css */
  .signinText {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0 0 20px 15px;
  }
  .signinContainer {
    background: rgb(0, 0, 0);
    border-radius: 0px;
    max-width: 375px;
    height: 100%;
    padding: 56px 40px;
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0, 0);
  }
  .signupCheckWrap {
    margin: 75px auto 0;
  }

  /* signup css */
  .signupContainer {
    background: rgb(0, 0, 0);
    border-radius: 0px;
    max-width: 375px;
    height: 100%;
    padding: 56px 40px;
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0, 0);
  }
  .btnSignup {
    margin: 34px auto 10px;
  }
  .signinCheckWrap {
    margin: 54px auto 0;
  }
}
