.allPageWrap {
  width: 100%;
  height: 100%;
  margin-top: 80px;
  position: relative;
}
#userInfo {
  text-align: center;
  width: 100%;
  margin: 200px auto 80px;
}

.userInfoChangeWrap {
  display: flex;
  justify-content: space-between;
  max-width: 1286px;
  margin: 45px auto;
}
.textWelcome > p {
  font-size: 1.75rem;
  line-height: 72px;
}
.fs20px {
  font-size: 1.25rem;
}

/* 프로필변경 css */
.imgChangeWrap {
  flex: 1;
}
.imgChangeWrap > img {
  display: block;
  width: 170px;
  height: 170px;
  border-radius: 120px;
  border: 1px solid red;
  margin: 50px auto 20px;
}
.imgChangeWrap > span {
  color: #32e6ff;
  margin: 0 8px;
  cursor: pointer;
}

/* 사용자이름, 비밀번호 변경 css */
.infoChangeWrap {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.infoChangeWrap > p {
  font-size: 1.25rem;
  font-weight: 700;
  text-align: left;
  margin: 50px 0 20px 65px;
}
.infoChangeWrap > form > input {
  width: 80%;
  height: 50px;
  margin: 0 auto 10px;
}
.infoChangeWrap > button {
  font-size: 1rem;
  width: 95px;
  height: 47px;
  margin: 5px 0 0 60px;
}
.mypageMsg {
  text-align: left;
  font-size: 0.75rem;
  display: block;
  margin: 5px 0 10px 50px;
}

/* 북마크리스트 관련 css */
.bookmarkWrap {
  max-width: 1120px;
  margin: 100px auto;
  /* border: 1px solid blue; */
}
.bookmarkWrap > p {
  font-size: 1.75rem;
  margin-bottom: 50px;
}
.bookmarksDataWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
}
.bookmarksDataWrap > p {
  margin: 30px auto;
  font-size: 1.2rem;
  color: #4d4d4d;
}
.bookmarkimg {
  width: 200px;
  height: 300px;
  margin: 12px;
  border-radius: 10px;
  border: 1px solid red;
}

/* 회원탈퇴 css */
.btnWithdrawal {
  font-size: 1rem;
  width: 120px;
  height: 45px;
  margin: 0 auto;
}

.withdrawalModalWrap {
  color: black;
  max-width: 500px;
  height: 420px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 30px;
  position: absolute;
  bottom: 150px;
  left: calc(50% - 250px);
  z-index: 10;
}
.btnCloseModal {
  cursor: pointer;
  width: 20px;
  margin: 0 0 0 auto;
}

.withdrawalInfo > div {
  text-align: left;
  line-height: 2rem;
  margin: 20px 0 10px 0;
  border-bottom: double 2px #6200ee;
}
.withdrawalInfo > p {
  text-align: left;
  line-height: 1.2rem;
  font-size: 0.9rem;
  margin: 0 auto 10px;
}
.inputWithdrawal {
  width: 70%;
  height: 35px;
  margin: 20px auto 10px;
}
.withdrawalModalWrap > form > p {
  font-size: 0.9rem;
}
.lastCheck {
  color: #6200ee;
  margin: 30px 0 10px;
}
.c_e30052 {
  color: #e30052;
}
.btnWithdrawalCheck {
  width: 100px;
  height: 33px;
  margin: 10px auto;
}
.withdrawalForKakao {
  margin-top: 50px;
}