.wordcloud-container {
  /* border: 1px solid white; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.wordcloud {
  width: 768px;
  height: 100%;
  overflow: visible;
  /* height: 1000px; */
  margin: auto;
  padding: auto;
  /* border: 1px solid red; */
}
